.button {
  color: white;
  padding: 8px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button5 {
  background-color: #555555;
  color: white;
   border: 1px solid #e7e7e7;
    border-radius: 10%;
}
.button5:hover {
  background-color: #e7e7e7;
   border: 1px solid #555555;
  color: black;

}

.buttonred {
  background-color: #f50c0c;
  color: white;
   border: 1px solid #ffffff;
 border-radius: 10%;
    font-size: 16px;
}
.buttonred:hover {
  background-color: #555555;
   border: 2px solid #ffffff;
  color: white;
 border-radius: 10%;
 font-size: 16px;
}
.alert {
    padding: 5px;
	color: #282828;
    background-color: #2FB986;
    
    width: 90%;
    
}
.alert a{
color: #282828;
	
text-decoration: none;
		}
.alert a:hover{
color: #D35151;
	
text-decoration: none;
		}
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.buttontg {
    background-color: #009DE1;
    color: #FFF;
    
	border-color: #0088cc;
    padding: 8px 3px;
    text-transform: uppercase;
    align-items: center;
    border-radius: 10%;
}
.button4k {
    background-color: #FFAA2C;
    color: black;
   
	border-color: #EDBA26;
    padding: 8px 3px;
    text-transform: uppercase;
    align-items: center;
   border-radius: 10%;
}
.text-white{
    color:#fff;
}
.header-social a {
    padding: 8px;
    float: left;
    font-size: 20px;
    line-height: 1;
    width: 115px;
    box-sizing: border-box;
    margin-right: 3px;
    text-align: center;
}
